
@{
    ViewBag.Quantity = 0;

    foreach (Cart.CartLine x in Model.Cart.LinesEnumerable)
    {
        ViewBag.Quantity = ViewBag.Quantity + x.Quantity;
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Everest Books</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <!--New bootstrap command: jumbotron-->
    <div class="jumbotron text-white" style="background-color: rgba(38, 164, 185, 0.69)">
        <h1 class="display-3">Everest Books</h1>
        <p class="lead">The Largest Online Book Store</p>
        <hr class="my-2">
        <p>
            Welcome to Everest Books, the online book store that is even grander (and better) than Amazon
        </p>
        <!--New bootstrap command "popover" to create a little popup box to announce that the newletter isn't available-->
        <p class="lead">
            <a class="btn btn-info btn-lg" data-toggle="popover" title="Newsletter" data-content="The newsletter is not currently available" style="background-color:#F7941E" href="#!" role="button">Join Our Newsletter</a>
        </p>
    </div>

    <!--Display the cart button and cart summary information-->
    <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-brand"></div>
            <div class="pull-right row m-1 p-1">
                <div >
                    @if (ViewBag.Quantity > 0)
                    {
                        <small class="navbar-text">
                            <b>Your cart:</b>
                            @ViewBag.Quantity item(s)
                            @Model.Cart.ComputeTotalSum().ToString("c")
                        </small>
                    }
                </div>
                <div>
                    <form asp-page="/Purchase" method="get">
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <button type="submit" class="btn btn-info text-right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

    </div>

    <div class="row m-1 p-1">
        <!--Introduction to Everest Books-->
        <div id="categories" class="col-3">
            <vc:navigation-menu />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!--Script tag for popover functionality-->
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
</body>
</html>
