@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4" style="font:bold">Search For Books</h1>
   
</div>

<!--New bootstrap command alert to give information at the top of the page about covid-->
<div class="alert alert-info text-center" role="alert">
    <strong>Please be advised that due to the Covid-19 pandemic, shipping may be delayed</strong>
</div>

<div>
    <!--Loop through the IQueryable and display information about each of the books.-->
    @foreach (var x in Model.Books)
    {
        <div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1">
                <h4>
                    @x.Title

                    <!--Display the price in the corner of the box-->
                    <span class="badge badge-pill badge-primary" style="float:right; background-color:#F7941E">
                        <small>$@x.Price</small>
                    </span>
                </h4>
                <h6>By @x.AuthorFirstName @x.AuthorMiddleName @x.AuthorLastName</h6>
            </div>
            <div class="card-text p-1">
                Publisher: @x.Publisher
                <br />
                @x.Classification, @x.Category
                <br />
                ISBN: @x.ISBN
                <br />
                Number of Pages: @x.NumberOfPages
            </div>
        </div>
    }

</div>

<!--Display page numbers-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" 
     page-class="btn" page-class-normal ="btn-outline-dark"
     page-class-selected="btn-info" class="btn-group pull-right m-1"></div>
